.user-profile::-webkit-scrollbar {
    width: 8px;
    /* Adjust as needed */
}

.user-profile::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    /* Transparent background */
}

.user-profile {
    overflow-y: auto;
}

label {
    color: var(--text-color) !important;
}

input[disabled] {
    background-color: var(--background-color-2) !important;
    color: var(--text-color) !important;
}